In [58]:
import numpy
import pandas

In [59]:
data = pandas.read_csv("synthetic_dataset.csv")
df = pandas.DataFrame(data)
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [60]:
df.isna().sum()

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [61]:
#result >> stock
# input >>> Category, price, discount
# removing column Category as the missing values of the column exceeds 50%

In [62]:
df = df.drop('Category',axis=1)

In [63]:
df

       Price    Rating         Stock  Discount
0     5548.0  1.870322           NaN       0.0
1     3045.0  4.757798           NaN      38.0
2     4004.0       NaN      In Stock       0.0
3     4808.0  1.492085           NaN      33.0
4     1817.0       NaN  Out of Stock      23.0
...      ...       ...           ...       ...
4357  4436.0  4.728335           NaN      49.0
4358  6236.0       NaN  Out of Stock       4.0
4359  3283.0       NaN  Out of Stock       9.0
4360  2999.0  4.425995           NaN      40.0
4361     NaN  2.184471           NaN       0.0

[4362 rows x 4 columns]

In [64]:
df.isna().sum()

Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [65]:
df = df.dropna(subset = 'Stock')    # removing rows where stock value is missing
df

       Price    Rating         Stock  Discount
2     4004.0       NaN      In Stock       0.0
4     1817.0       NaN  Out of Stock      23.0
6      667.0  3.668341      In Stock      41.0
7     7125.0  4.983998  Out of Stock       7.0
8     2777.0  2.678384      In Stock       6.0
...      ...       ...           ...       ...
4354  1556.0  1.433035      In Stock       NaN
4355     NaN       NaN      In Stock      46.0
4356     NaN       NaN  Out of Stock      21.0
4358  6236.0       NaN  Out of Stock       4.0
4359  3283.0       NaN  Out of Stock       9.0

[3010 rows x 4 columns]

In [66]:
df.isna().sum()

Price        130
Rating      1400
Stock          0
Discount     264
dtype: int64

In [67]:
df['Price'] = df['Price'].fillna(df['Price'].mean())    # filling missing values of price column with mean of the column

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_11348\21749976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].fillna(df['Price'].mean())    # filling missing values of price column with mean of the column

In [68]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())   # filling missing values of rating column with mean of the column

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_11348\1243319040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating'] = df['Rating'].fillna(df['Rating'].mean())   # filling missing values of rating column with mean of the column

In [69]:
df['Discount'] = df['Discount'].fillna(df['Discount'].mean())   # filling missing values of discount column with mean of the column

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_11348\715609810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Discount'] = df['Discount'].fillna(df['Discount'].mean())   # filling missing values of discount column with mean of the column

In [70]:
df.isna().sum()

Price       0
Rating      0
Stock       0
Discount    0
dtype: int64

In [71]:
df

            Price    Rating         Stock   Discount
2     4004.000000  3.040539      In Stock   0.000000
4     1817.000000  3.040539  Out of Stock  23.000000
6      667.000000  3.668341      In Stock  41.000000
7     7125.000000  4.983998  Out of Stock   7.000000
8     2777.000000  2.678384      In Stock   6.000000
...           ...       ...           ...        ...
4354  1556.000000  1.433035      In Stock  24.538602
4355  5024.705208  3.040539      In Stock  46.000000
4356  5024.705208  3.040539  Out of Stock  21.000000
4358  6236.000000  3.040539  Out of Stock   4.000000
4359  3283.000000  3.040539  Out of Stock   9.000000

[3010 rows x 4 columns]

Converting values in Column Stock to numeric values
This process is called Encoding

In [72]:
df['Stock'] = df['Stock'].replace({'In Stock' : 1, 'Out of Stock' : 0})

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_11348\644286119.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Stock'] = df['Stock'].replace({'In Stock' : 1, 'Out of Stock' : 0})
C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_11348\644286119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Stock'] = df['Stock'].replace({'In Stock' : 1, 'Out of Stock' : 0})

In [73]:
df.isna().sum()

Price       0
Rating      0
Stock       0
Discount    0
dtype: int64

Machine Learning
============================
ML is teaching computers to learn from data
(just like humans learn from experience)
Here we train based on a dataset

ML are of 3 types
=============================
1) Supervised Learning
2) Unsupervised Learning
3) Reinforcement Learning

Supervised Learning
==============================
The given dataset having both i/p features and result

SL are of 2 types
==============================
Classification Algorithms
>>> KNN (Using distace formula)
>>> Naive Bayes (Bayes Theorem >>> probability)
>>> SVM (Support Vector Machine)
>>> Decision Tree
>>> Random Forest

Regression Models
==============================
Used to predict numerical and continous values

=======================================================

Algorithms
=========================
1) Linear Regression
2) Multiple Linear Regression
3) Polynomial Regression

In [74]:
X = df.loc[:, df.columns != 'Stock']
X
Y = df['Stock']
Y

2       1
4       0
6       1
7       0
8       1
       ..
4354    1
4355    1
4356    0
4358    0
4359    0
Name: Stock, Length: 3010, dtype: int64

In [75]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
X_train

       Price    Rating   Discount
1770  2347.0  4.459115  28.000000
2634  8066.0  2.094705  21.000000
2577  2074.0  3.324159  27.000000
986   5946.0  3.660448  24.538602
3829  9197.0  3.582462  35.000000
...      ...       ...        ...
1904  8991.0  2.102078   2.000000
2167  4048.0  3.040539  29.000000
46    2260.0  3.040539  37.000000
3117  8208.0  3.040539  24.000000
3867  4421.0  3.040539  23.000000

[2107 rows x 3 columns]

In [76]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [77]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

model = knn.fit(X_train, Y_train)

In [78]:
y_pred = model.predict(X_test)

In [79]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.5204872646733112

In [80]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(Y_test,y_pred)
cm

array([[242, 214],
       [219, 228]])