In [5]:
import pandas
import numpy

In [6]:
# Series, DataFrame

data = {"name":["amal","arun","sajay"],
        "role":["HR","Testing","Dev"],
        "salary":[10000,20000,30000]}

result = pandas.DataFrame(data)
result

    name     role  salary
0   amal       HR   10000
1   arun  Testing   20000
2  sajay      Dev   30000

In [10]:
X = result.loc[:,["name","role"]]
X

    name     role
0   amal       HR
1   arun  Testing
2  sajay      Dev