In [1]:
import numpy
import pandas

In [ ]:
data = pandas.read_csv('Breast_Cancer.csv')
df = pandas.DataFrame(data)
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [3]:
df = df.drop(columns=['Age','Race'])

In [4]:
df.isna().sum()

Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [5]:
df.dtypes

Marital Status            object
T Stage                   object
N Stage                   object
6th Stage                 object
differentiate             object
Grade                     object
A Stage                   object
Tumor Size                 int64
Estrogen Status           object
Progesterone Status       object
Regional Node Examined     int64
Reginol Node Positive      int64
Survival Months            int64
Status                    object
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in list(df):

    if df[i].dtype == object:

        df[i] = le.fit_transform(df[i])

df

,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,1,0,0,0,1,3,1,4,1,1,24,1,60,0
1,1,1,1,2,0,2,1,35,1,1,14,5,62,0
2,0,2,2,4,0,2,1,63,1,1,14,7,75,0
3,1,0,0,0,1,3,1,18,1,1,2,1,84,0
4,1,1,0,1,1,3,1,41,1,1,3,1,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,1,0,0,0,0,2,1,9,1,1,1,1,49,0
4020,0,1,1,2,0,2,1,46,1,1,14,8,69,0
4021,1,1,0,1,0,2,1,22,1,0,11,3,69,0
4022,0,1,0,1,0,2,1,44,1,1,11,1,72,0
4023,1,1,0,1,0,2,1,30,1,1,7,2,100,0

In [7]:
X = df.iloc[:,:-1]

Y = df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

g = KNeighborsClassifier()

model = g.fit(X_train,Y_train)

Y_pred = model.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score,confusion_matrix

cm = confusion_matrix(Y_test, Y_pred)
print(accuracy_score(Y_test, Y_pred))
cm

0.8766556291390728

array([[1001,   25],
       [ 124,   58]])