In [25]:
import numpy
import pandas

In [26]:
data = pandas.read_csv("Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset (1).csv")
df = pandas.DataFrame(data)
df

,age,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,married,profession,bmi,health_risk
0,56,67,195,low,6.1,medium,yes,yes,yes,office_worker,17.6,high
1,69,76,170,high,6.9,high,no,no,no,teacher,26.3,high
2,46,106,153,high,6.6,low,yes,no,no,artist,45.3,high
3,32,54,186,medium,8.5,medium,no,no,no,artist,15.6,low
4,60,98,195,high,8.0,low,no,no,yes,teacher,25.8,high
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,42,75,187,medium,7.2,low,no,no,yes,driver,21.4,low
4996,39,86,183,low,7.4,low,no,no,yes,engineer,25.7,high
4997,48,56,194,none,7.2,high,yes,yes,yes,engineer,14.9,high
4998,34,109,148,medium,9.9,medium,no,no,yes,doctor,49.8,low
4999,72,47,149,high,6.3,medium,no,no,yes,driver,21.2,low

In [27]:
df = df.drop(columns=['age','married'])
df

,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,profession,bmi,health_risk
0,67,195,low,6.1,medium,yes,yes,office_worker,17.6,high
1,76,170,high,6.9,high,no,no,teacher,26.3,high
2,106,153,high,6.6,low,yes,no,artist,45.3,high
3,54,186,medium,8.5,medium,no,no,artist,15.6,low
4,98,195,high,8.0,low,no,no,teacher,25.8,high
...,...,...,...,...,...,...,...,...,...,...
4995,75,187,medium,7.2,low,no,no,driver,21.4,low
4996,86,183,low,7.4,low,no,no,engineer,25.7,high
4997,56,194,none,7.2,high,yes,yes,engineer,14.9,high
4998,109,148,medium,9.9,medium,no,no,doctor,49.8,low
4999,47,149,high,6.3,medium,no,no,driver,21.2,low

In [28]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['exercise'] = le.fit_transform(df['exercise'])
df['sugar_intake'] = le.fit_transform(df['sugar_intake'])
df['smoking'] = le.fit_transform(df['smoking'])
df['alcohol'] = le.fit_transform(df['alcohol'])
df['profession'] = le.fit_transform(df['profession'])
df['health_risk'] = le.fit_transform(df['health_risk'])

In [29]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [30]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [32]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

model = knn.fit(X_train,Y_train)

Y_pred = model.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred))

0.7893333333333333

In [34]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(Y_test,Y_pred)

cm

array([[889, 159],
       [157, 295]])