In [85]:
import numpy
import pandas

In [86]:
data = pandas.read_csv("Stats survey.csv")
df = pandas.DataFrame(data)
df

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2024/03/12 11:05:33 am EET,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,2024/03/12 3:26:14 pm EET,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,2024/03/13 10:32:19 pm EET,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,2024/03/13 10:32:27 pm EET,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,2024/03/16 10:30:36 pm EET,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [87]:
df.isna().sum()

Timestamp                                                                                             0
Your Sex?                                                                                             2
Your Matric (grade 12) Average/ GPA (in %)                                                            7
What year were you in last year (2023) ?                                                             73
What faculty does your degree fall under?                                                             7
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   86
Your Accommodation Status Last Year (2023)                                                           23
Monthly Allowance in 2023                                                                            31
Were you on scholarship/bursary in 2023?                                                              8
Additional amount of studying (in hrs) per week                                                       3
How often do you go out partying/socialising during the week?                                         2
On a night out, how many alcoholic drinks do you consume?                                             2
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     3
How many modules have you failed thus far into your studies?                                          3
Are you currently in a romantic relationship?                                                         3
Do your parents approve alcohol consumption?                                                          4
How strong is your relationship with your parent/s?                                                   3
dtype: int64

In [88]:
df.dtypes

Timestamp                                                                                             object
Your Sex?                                                                                             object
Your Matric (grade 12) Average/ GPA (in %)                                                           float64
What year were you in last year (2023) ?                                                              object
What faculty does your degree fall under?                                                             object
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   float64
Your Accommodation Status Last Year (2023)                                                            object
Monthly Allowance in 2023                                                                             object
Were you on scholarship/bursary in 2023?                                                              object
Additional amount of studying (in hrs) per week                                                       object
How often do you go out partying/socialising during the week?                                         object
On a night out, how many alcoholic drinks do you consume?                                             object
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     object
How many modules have you failed thus far into your studies?                                          object
Are you currently in a romantic relationship?                                                         object
Do your parents approve alcohol consumption?                                                          object
How strong is your relationship with your parent/s?                                                   object
dtype: object

In [89]:
df = df.drop(columns=["Timestamp","Your Sex?"])
df

,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [90]:
df.dtypes

Your Matric (grade 12) Average/ GPA (in %)                                                           float64
What year were you in last year (2023) ?                                                              object
What faculty does your degree fall under?                                                             object
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   float64
Your Accommodation Status Last Year (2023)                                                            object
Monthly Allowance in 2023                                                                             object
Were you on scholarship/bursary in 2023?                                                              object
Additional amount of studying (in hrs) per week                                                       object
How often do you go out partying/socialising during the week?                                         object
On a night out, how many alcoholic drinks do you consume?                                             object
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     object
How many modules have you failed thus far into your studies?                                          object
Are you currently in a romantic relationship?                                                         object
Do your parents approve alcohol consumption?                                                          object
How strong is your relationship with your parent/s?                                                   object
dtype: object

In [91]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['What year were you in last year (2023) ?'] = le.fit_transform(df['What year were you in last year (2023) ?'])
df['What faculty does your degree fall under?'] = le.fit_transform(df['What faculty does your degree fall under?'])
df['Your Accommodation Status Last Year (2023)'] = le.fit_transform(df['Your Accommodation Status Last Year (2023)'])
df['Monthly Allowance in 2023'] = le.fit_transform(df['Monthly Allowance in 2023'])
df['Were you on scholarship/bursary in 2023?'] = le.fit_transform(df['Were you on scholarship/bursary in 2023?'])
df['Additional amount of studying (in hrs) per week'] = le.fit_transform(df['Additional amount of studying (in hrs) per week'])
df['How often do you go out partying/socialising during the week? '] = le.fit_transform(df['How often do you go out partying/socialising during the week? '])
df['On a night out, how many alcoholic drinks do you consume?'] = le.fit_transform(df['On a night out, how many alcoholic drinks do you consume?'])
df['How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)'] = le.fit_transform(df['How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)'])
df['How many modules have you failed thus far into your studies?'] = le.fit_transform(df['How many modules have you failed thus far into your studies?'])
df['Are you currently in a romantic relationship?'] = le.fit_transform(df['Are you currently in a romantic relationship?'])
df['Do your parents approve alcohol consumption?'] = le.fit_transform(df['Do your parents approve alcohol consumption?'])
df['How strong is your relationship with your parent/s?'] = le.fit_transform(df['How strong is your relationship with your parent/s?'])

In [92]:
df

,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,76.0,1,1,72.0,1,0,0,4,5,4,3,0,1,1,3
1,89.0,1,2,75.0,1,3,1,4,5,2,4,0,0,1,3
2,76.0,0,0,55.0,1,0,0,2,2,4,3,0,0,1,3
3,89.0,1,4,84.0,1,2,0,2,3,4,2,0,1,1,3
4,74.0,1,1,52.0,1,0,0,2,5,3,1,3,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,74.0,5,7,NaN,1,5,0,2,3,1,0,0,0,1,0
402,73.0,1,2,58.0,1,2,1,3,1,4,0,0,1,1,3
403,86.0,0,8,NaN,1,0,0,3,2,2,1,0,0,1,3
404,85.0,5,2,NaN,1,0,0,1,4,3,4,0,0,1,0
405,80.0,0,8,63.0,1,1,0,2,5,2,1,0,0,0,0

In [93]:
df.isna().sum()

Your Matric (grade 12) Average/ GPA (in %)                                                            7
What year were you in last year (2023) ?                                                              0
What faculty does your degree fall under?                                                             0
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   86
Your Accommodation Status Last Year (2023)                                                            0
Monthly Allowance in 2023                                                                             0
Were you on scholarship/bursary in 2023?                                                              0
Additional amount of studying (in hrs) per week                                                       0
How often do you go out partying/socialising during the week?                                         0
On a night out, how many alcoholic drinks do you consume?                                             0
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)     0
How many modules have you failed thus far into your studies?                                          0
Are you currently in a romantic relationship?                                                         0
Do your parents approve alcohol consumption?                                                          0
How strong is your relationship with your parent/s?                                                   0
dtype: int64

In [94]:
df.dtypes

Your Matric (grade 12) Average/ GPA (in %)                                                           float64
What year were you in last year (2023) ?                                                               int64
What faculty does your degree fall under?                                                              int64
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   float64
Your Accommodation Status Last Year (2023)                                                             int64
Monthly Allowance in 2023                                                                              int64
Were you on scholarship/bursary in 2023?                                                               int64
Additional amount of studying (in hrs) per week                                                        int64
How often do you go out partying/socialising during the week?                                          int64
On a night out, how many alcoholic drinks do you consume?                                              int64
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)      int64
How many modules have you failed thus far into your studies?                                           int64
Are you currently in a romantic relationship?                                                          int64
Do your parents approve alcohol consumption?                                                           int64
How strong is your relationship with your parent/s?                                                    int64
dtype: object

In [95]:
df = df.dropna(subset='Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)')

In [96]:
# df = df.dropna(subset='Your Matric (grade 12) Average/ GPA (in %)')

In [97]:
df.isna().sum()

Your Matric (grade 12) Average/ GPA (in %)                                                           2
What year were you in last year (2023) ?                                                             0
What faculty does your degree fall under?                                                            0
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   0
Your Accommodation Status Last Year (2023)                                                           0
Monthly Allowance in 2023                                                                            0
Were you on scholarship/bursary in 2023?                                                             0
Additional amount of studying (in hrs) per week                                                      0
How often do you go out partying/socialising during the week?                                        0
On a night out, how many alcoholic drinks do you consume?                                            0
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)    0
How many modules have you failed thus far into your studies?                                         0
Are you currently in a romantic relationship?                                                        0
Do your parents approve alcohol consumption?                                                         0
How strong is your relationship with your parent/s?                                                  0
dtype: int64

In [98]:
df['Your Matric (grade 12) Average/ GPA (in %)'] = df['Your Matric (grade 12) Average/ GPA (in %)'].fillna(df['Your Matric (grade 12) Average/ GPA (in %)'].mean())

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_3304\3416275334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Your Matric (grade 12) Average/ GPA (in %)'] = df['Your Matric (grade 12) Average/ GPA (in %)'].fillna(df['Your Matric (grade 12) Average/ GPA (in %)'].mean())

In [99]:
df.isna().sum()

Your Matric (grade 12) Average/ GPA (in %)                                                           0
What year were you in last year (2023) ?                                                             0
What faculty does your degree fall under?                                                            0
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   0
Your Accommodation Status Last Year (2023)                                                           0
Monthly Allowance in 2023                                                                            0
Were you on scholarship/bursary in 2023?                                                             0
Additional amount of studying (in hrs) per week                                                      0
How often do you go out partying/socialising during the week?                                        0
On a night out, how many alcoholic drinks do you consume?                                            0
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)    0
How many modules have you failed thus far into your studies?                                         0
Are you currently in a romantic relationship?                                                        0
Do your parents approve alcohol consumption?                                                         0
How strong is your relationship with your parent/s?                                                  0
dtype: int64

In [100]:
X = df.iloc[:,1:]
X
Y = df.iloc[:,0]
Y

0      76.0
1      89.0
2      76.0
3      89.0
4      74.0
       ...
396    78.0
397    86.0
398    74.0
402    73.0
405    80.0
Name: Your Matric (grade 12) Average/ GPA (in %), Length: 320, dtype: float64

In [101]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)
X_train

,What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
377,0,2,83.0,1,3,0,4,3,1,0,0,1,1,3
362,2,5,75.0,1,2,0,4,5,1,1,1,0,0,2
210,0,2,78.0,1,1,0,1,1,3,1,1,1,1,3
221,1,4,65.0,0,0,1,2,1,1,1,4,1,0,2
304,0,2,80.0,1,0,0,1,2,4,1,4,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,1,2,69.0,0,0,0,0,4,4,0,0,0,0,3
331,2,7,63.0,1,1,0,1,3,1,0,0,1,1,3
371,1,2,60.0,1,0,0,4,5,2,0,0,0,1,0
102,1,2,57.0,1,3,0,3,5,3,2,1,0,0,2
83,1,2,60.0,1,0,0,4,5,3,0,1,1,1,3

In [102]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)