In [ ]:
import numpy
import pandas

In [3]:
data = pandas.read_csv("iris.csv")
df = pandas.DataFrame(data)
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [49]:
# display the first 10 rows.
df.head(10)

# Display the last 5 rows
df.tail(5)

# Show the column names and their data types.
df.dtypes

# Check for missing values in each column.
df.isna().sum()

# Find the number of rows and columns in the dataset.
df.shape

# Select only the SepalLengthCm and SepalWidthCm columns.


# Select the first 15 rows of the dataset.
df.head(15)

# Select all rows where Species is 'Iris-setosa'.
df[df['species'] == 'setosa']

# Display PetalLengthCm and PetalWidthCm for rows 5 to 15.


# Select rows where SepalLengthCm > 5.0 and SepalWidthCm > 3.5.
df[(df['sepal_length'] > 5.0) & (df['sepal_width'] > 3.5)]

# Find all rows where PetalLengthCm < 1.5.
df[df['petal_length'] > 1.5]

# Find all Iris-setosa flowers with SepalWidthCm > 3.0.
df[(df['species'] == 'setosa') & (df['sepal_width'] > 3.0)]

# Display rows where Species is either 'Iris-setosa' or 'Iris-versicolor'.
df[(df['species'] == 'setosa') | (df['species'] == 'versicolor')]

# Find rows where SepalLengthCm is between 5.0 and 6.0.
df[(df['sepal_length'] > 5.0) & (df['sepal_length'] < 6.0)]

# Find rows where PetalWidthCm is the maximum value for each species.


# Calculate the mean, median, and standard deviation for SepalLengthCm.
df['sepal_length'].mean()
df['sepal_length'].median()
df['sepal_length'].mode()

# Find the maximum and minimum values of PetalLengthCm.
df['petal_length'].max()
df['petal_length'].min()

# Count the number of flowers for each species.
df[df['species'] == 'setosa'].count()
df[df['species'] == 'versicolor'].count()
df[df['species'] == 'virginica'].count()

# Find the average SepalWidthCm and PetalWidthCm for each species.
df.groupby('species')['sepal_width'].mean()
df.groupby('species')['petal_width'].mean()

# Find the correlation between all numeric columns.

species
setosa        0.246
versicolor    1.326
virginica     2.026
Name: petal_width, dtype: float64