In [38]:
import numpy
import pandas

In [39]:
data = pandas.read_csv('taxi_trip_pricing.csv')
df = pandas.DataFrame(data)
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

In [40]:
df.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [41]:
df = df.dropna(subset=["Trip_Price"])

In [42]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

In [43]:
df.dtypes

Trip_Distance_km         float64
Time_of_Day               object
Day_of_Week               object
Passenger_Count          float64
Traffic_Conditions        object
Weather                   object
Base_Fare                float64
Per_Km_Rate              float64
Per_Minute_Rate          float64
Trip_Duration_Minutes    float64
Trip_Price               float64
dtype: object

In [44]:
for i in df.columns:

    if df[i].dtype=='object':

        df[i] = df[i].fillna(df[i].mode()[0])
    
    else:

        df[i] = df[i].fillna(df[i].mean())

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\1924554379.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].fillna(df[i].mean())
C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\1924554379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].fillna(df[i].mode()[0])

In [45]:
df.isna().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [46]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,Morning,Weekday,3.0,Low,Clear,3.56,0.800000,0.320000,53.82,36.2624
2,36.870000,Evening,Weekend,1.0,High,Clear,2.70,1.210000,0.150000,37.27,52.9032
3,30.330000,Evening,Weekday,4.0,Low,Clear,3.48,0.510000,0.150000,116.81,36.4698
4,27.190998,Evening,Weekday,3.0,High,Clear,2.93,0.630000,0.320000,22.64,15.6180
5,8.640000,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.710000,0.480000,89.33,60.2028
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.620000,0.490000,58.39,34.4049
996,45.950000,Night,Weekday,4.0,Medium,Clear,3.12,0.610000,0.293902,61.96,62.1295
997,7.700000,Morning,Weekday,3.0,Low,Rain,2.08,1.780000,0.293902,54.18,33.1236
998,47.560000,Morning,Weekday,1.0,Low,Clear,2.67,0.820000,0.170000,114.94,61.2090
999,22.850000,Morning,Weekend,3.0,Medium,Clear,4.34,1.229934,0.230000,29.69,45.4437

In [47]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in df.columns:

    if df[i].dtype == "object":

        df[i] = le.fit_transform(df[i])

C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\3875807669.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = le.fit_transform(df[i])
C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\3875807669.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = le.fit_transform(df[i])
C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\3875807669.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = le.fit_transform(df[i])
C:\Users\Anand Vinodkumar\AppData\Local\Temp\ipykernel_1964\3875807669.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = le.fit_transform(df[i])

In [48]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,2,0,3.0,1,0,3.56,0.800000,0.320000,53.82,36.2624
2,36.870000,1,1,1.0,0,0,2.70,1.210000,0.150000,37.27,52.9032
3,30.330000,1,0,4.0,1,0,3.48,0.510000,0.150000,116.81,36.4698
4,27.190998,1,0,3.0,0,0,2.93,0.630000,0.320000,22.64,15.6180
5,8.640000,0,1,2.0,2,0,2.55,1.710000,0.480000,89.33,60.2028
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,0,1,4.0,2,0,2.39,0.620000,0.490000,58.39,34.4049
996,45.950000,3,0,4.0,2,0,3.12,0.610000,0.293902,61.96,62.1295
997,7.700000,2,0,3.0,1,1,2.08,1.780000,0.293902,54.18,33.1236
998,47.560000,2,0,1.0,1,0,2.67,0.820000,0.170000,114.94,61.2090
999,22.850000,2,1,3.0,2,0,4.34,1.229934,0.230000,29.69,45.4437

In [49]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [50]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [51]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

In [52]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

model = lr.fit(X_train,Y_train)

Y_pred = model.predict(X_test)

In [53]:
from sklearn.metrics import r2_score,mean_absolute_percentage_error

print(mean_absolute_percentage_error(Y_pred,Y_test))

print(r2_score(Y_test,Y_pred))

0.3753257019392724
0.8855003409763142