In [81]:
import numpy
import pandas

In [82]:
data = pandas.read_csv('seattle-weather.csv')
df = pandas.DataFrame(data)
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [83]:
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [84]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['weather'] = le.fit_transform(df['weather'])

In [85]:
df = df.drop(columns=['date'])

In [86]:
X = df.iloc[:,:-1]

Y = df.iloc[:,-1]

In [87]:
df

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7        0
1              10.9      10.6       2.8   4.5        2
2               0.8      11.7       7.2   2.3        2
3              20.3      12.2       5.6   4.7        2
4               1.3       8.9       2.8   6.1        2
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9        2
1457            1.5       5.0       1.7   1.3        2
1458            0.0       7.2       0.6   2.6        1
1459            0.0       5.6      -1.0   3.4        4
1460            0.0       5.6      -2.1   3.5        4

[1461 rows x 5 columns]

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [89]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [90]:
from sklearn.naive_bayes import GaussianNB

g = GaussianNB()

model = g.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

In [91]:
from sklearn.metrics import accuracy_score, confusion_matrix

cm = confusion_matrix(Y_test, Y_pred)
print(accuracy_score(Y_test, Y_pred))
cm

0.8678815489749431

array([[  0,   0,   0,   0,  20],
       [  0,   0,   0,   0,  21],
       [  0,   0, 183,   6,  10],
       [  0,   0,   1,   5,   0],
       [  0,   0,   0,   0, 193]])